---
import '@/globals.css'

const metadata = {
  name: `Mommie's Devs`,
  description: 'We are a team of developers creating innovative software products.',
}

import Container from '#/Global/Container'
import Theme from '#/Global/Theme'
import Analytics from '#/Analytics.astro'

const {className} = Astro.props
---

<!doctype html>
<html lang="ru" class="dark">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />

    <title>{metadata.name}</title>
    <meta name="title" content={metadata.name} />
    <meta name="description" content={metadata.description} />
    <meta name="keywords" content="mommies devs, mommies developers" />
    <meta name="robots" content="index, follow" />
    <meta name="author" content="bozzhik" />

    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://mommies-devs.site/" />
    <meta property="og:title" content={metadata.name} />
    <meta property="og:description" content={metadata.description} />
    <meta property="og:image" content="/og.png" />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="http://mommies-devs.site/" />
    <meta property="og:title" content={metadata.name} />
    <meta property="twitter:description" content={metadata.description} />
    <meta property="twitter:image" content="/og.png" />
  </head>

  <body class="relative font-sans tracking-tight bg-background">
    <Container {className}>
      <slot />
    </Container>
    <Theme client:load />
    <Analytics />
  </body>
</html>
